<div class="container">
  <h1>CONTACT US</h1>
<div class="left">



<h4>STAFF C0-ORDINATOR</h4>
<p>Amalraj X <br>
9940195543 <br>
xamalraj1@gmail.com
</p>
<br><br>
<h4>Co-ordinators</h4>
<p>
S. Aisha Siddiqa <br>
9731627607 <br>
aishasiddiqa796@gmail.com
</p>
<br>
<p>
  Rahul Banasude <br>
  8197680540 <br>
  rahul.bansude2@gmail.com
</p>

<br>
<p>
Bi Bi Ayesha <br>
9066300908 <br>
ayeshariz632@gmail.com

</p>

</div>
<div class="right">
  <h4>Address</h4>
  <p>

St. Joseph's Evening College
P.B. 25003, No.35, Museum Road
Bangalore – 560025
  </p>
<br><br><br>
<h4>Directions
</h4>
<p>
  BMTC busses to get you here :
From Majestic : 315,516,138,131,131F,131D (get off at 'St. Joseph's College' Stop, next stop after Richmond Circle)
From Shivajinagar : 13E ,13F,29, 27. (Get off at 'State bank of India' Stop)
K.R. Market : 314, 333, 323 etc.
</p>
</div>
</div>
