<div class="container">
<br><br><br><br>
<h1>CONTACT US</h1>

<h4>STAFF C0-ORDINATOR</h4>
<p>Amalraj X <br>
9940195543 <br>
xamalraj1@gmail.com
</p>
<br><br>
<h4>SECRETARIES</h4>
<p>
S. Aisha Siddiqa <br>
9731627607 <br>
aishasiddiqa796@gmail.com
</p>
<p>
Bi Bi Ayesha <br>
9066300908
</p>
</div>
