<div class="container">
  <div class="result_page">


  <div class="result_image_left">
  <%= image_tag("random.jpg") %>

  </div>
<div class="right_title">
  <h1>Event pictures</h1>

</div>
<div class="clear">
</div>

<div class="left_title">
  <h1>Prize Distribution</h1>
</div>

<div class="result_image_right">
  <%= image_tag("random.jpg") %>
</div>

<div class="clear">
</div>

<div class="winner_image_center">
  <%= image_tag("random.jpg") %>
  <h1>winners</h1>
  </div>
  </div>
</div>
