<div class="container">
		<div class="wrapper">
<h1>ABOUT THE FEST</h1>
<br>
<div class="para">
	<p>
		The Department of BCA is organizing TECH-OPS, an inter collegiate fest for Under Graduate and Post Graduate students
		of Computer Science(BCA, B.sc, MCA, M.Sc, B.E and M.E) on 19th February, 2017.
	</p>
	<p>
		There are 15 exciting events that will fascinate the students from various colleges which includes Coding
		& Debugging, Gaming, Web Designing, Dumbcharads, DJ-Mania, Photo-shop, Fast & Furous, Quiz, Mad-ads, Googler,
		 E-Collection, Photography, Short Movie Making, Treasure Hunt and Surprise Event.
	</p>


</div>
<br><br>
<div class="para2">


<h3>
	Date: 26th FEBRUARY 2017 <br>
	<br>
	<%= image_tag("logo.png") %> <br>
	GO Viral <br> <br>
	9:30 am to 9:00 pm
</h3>
</div>
</div>
</div>
