<div class="container">
		<div class="wrapper">
<h1>ABOUT THE FEST</h1>
<br>
<div class="para">
	<p>
		The Department of BCA is organizing TECH-OPS, an inter collegiate fest for Under Graduate and Post Graduate students
		of Computer Science(BCA, B.sc, MCA, M.Sc, B.E and M.E) on 26th February, 2017.
	</p>
	<p>
		There are 15 exciting events namely Coding
		& Debugging, Gaming, Web Designing, Dumbcharads, DJ-Mania, Photo-shop, Fast & Furous, Quiz, Mad-ads, Googler,
		 E-Collection, Photography, Short Movie Making, Treasure Hunt and Surprise Event.
	</p>


</div>
<br><br>
<div class="para2">


<h3>
	Date: 26th FEBRUARY 2017 <br>
	<br>
	<%= image_tag("logo.png") %> <br>
	GO Viral <br> <br>
	9:30 am to 9:00 pm
</h3>
</div>
</div>
</div>





<table class="schedule">
	<tr>
		<th class="top-left">
		</th>
		<th class="time">10.00<br>to 11.00</th>
			<th class="time">11.00<br>to 12.00</th>
			<th class="time">12.00<br>to 01.00</th>
			<th class="time">01:00<br>to 02:00</th>
			<th class="time">02:00<br>to 03:00</th>
			<th class="time">3:00<br>to 4:00</th>
			<th class="time">4:00<br>to 5:00</th>
			<th class="time">5:00<br>to 6:00</th>
			<th class="time">6:00<br>to 7:00</th>
			<th class="time">7:00<br>to 8:00</th>
			<th class="time">8:00<br>to 9:00</th>

		</tr>
		<tr>
			<th>BCA Lab</th>
			<td colspan="9" class="blank"></td>
			<td colspan="4">Inauguration</td>
		</tr>
		<tr>
			<th>L Hall</th>
			<td class="blank"></td>
			<td colspan="12">Hackathon (18th 9 AM to 19th 10 AM)</td>
		</tr>

		<tr>
			<th>General Lab</th>
			<td class="blank"></td>
			<td colspan="12">Hackathon (18th 9 AM to 19th 10 AM)</td>
		</tr>

		<tr>
			<th>Campus</th>
			<td class="blank"></td>
			<td colspan="12">Hackathon (18th 9 AM to 19th 10 AM)</td>
		</tr>

		<tr>
			<th>Library</th>
			<td class="blank"></td>
			<td colspan="12">Hackathon (18th 9 AM to 19th 10 AM)</td>
		</tr>
		<tr>
			<th>A.V Room</th>
			<td class="blank"></td>
			<td colspan="12">Hackathon (18th 9 AM to 19th 10 AM)</td>
		</tr>
	</table>
