# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2f49be98b6c254d5aca786014e6d5114048711eeebf95c828d8024e126e151923079e06b8680c70bb638d6285634d95c6b99444ab6ab9caab3597a0b915a9a11

test:
  secret_key_base: 38e5d7b37ae77d98f2b0d3fd06a305cd37fc1d932b1a120f985a1d1a8e6e8b412bb542922eec5087573ee209edde1fa9e3975a34455bead426d5929b54ef11fd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
