// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
	text-align :center;
	margin-top :3em;
	margin-bottom :4em;
}
.progress{
width: 50%;
	margin-top : 4em;
	margin : auto;
}
h1{
	text-align: center;
}